In [1]:
#importing csv file into python code

import pandas as pd
dataFrame= pd.read_csv(r"C:\Users\MY PC\OneDrive\Desktop\LungCap.csv")
print(dataFrame)

     LungCap   Age  Height Smoke  Gender Caesarean
0      6.475   6.0    62.1    no    male        no
1     10.125  18.0    74.7   yes  female        no
2      9.550  16.0    69.7    no  female       yes
3     11.125  14.0    71.0    no    male        no
4      4.800   5.0    56.9    no    male        no
..       ...   ...     ...   ...     ...       ...
720    5.725   9.0    56.0    no  female        no
721    9.050  18.0    72.0   yes    male       yes
722    3.850  11.0    60.5   yes  female        no
723    9.825  15.0    64.9    no  female        no
724    7.100  10.0    67.7    no    male        no

[725 rows x 6 columns]

In [2]:
#viewing just the number of rows and columns
dataFrame.shape

(725, 6)

In [3]:
#to get all info about the file(datatypes,index,rows,columns,memory usage,etc)
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 725 entries, 0 to 724
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LungCap    721 non-null    float64
 1   Age        722 non-null    float64
 2   Height     720 non-null    float64
 3   Smoke      725 non-null    object
 4   Gender     723 non-null    object
 5   Caesarean  724 non-null    object
dtypes: float64(3), object(3)
memory usage: 34.1+ KB

In [4]:
dataFrame.isnull()   #returns boolean values if it is empty or not

     LungCap    Age  Height  Smoke  Gender  Caesarean
0      False  False   False  False   False      False
1      False  False   False  False   False      False
2      False  False   False  False   False      False
3      False  False   False  False   False      False
4      False  False   False  False   False      False
..       ...    ...     ...    ...     ...        ...
720    False  False   False  False   False      False
721    False  False   False  False   False      False
722    False  False   False  False   False      False
723    False  False   False  False   False      False
724    False  False   False  False   False      False

[725 rows x 6 columns]

In [5]:
#to get the sum of null entries in each column
dataFrame.isnull().sum()

LungCap      4
Age          3
Height       5
Smoke        0
Gender       2
Caesarean    1
dtype: int64

In [6]:
#to view the statistics of each column
#only numerical data are shown, not categorial data
dataFrame.describe()

          LungCap         Age     Height
count  721.000000  722.000000  720.00000
mean     7.865301   12.321330   64.83625
std      2.667863    4.008564    7.21063
min      0.507000    3.000000   45.30000
25%      6.150000    9.000000   59.90000
50%      8.000000   13.000000   65.40000
75%      9.825000   15.000000   70.32500
max     14.675000   19.000000   81.80000

In [ ]:
#Removing Missing values of LungCap, Age and Height
#Missing values of numerical data is removed by replacing them with the mean value

In [7]:
dataFrame['LungCap'].fillna(int(dataFrame['LungCap'].mean()), inplace=True)

In [8]:
dataFrame['Age'].fillna(int(dataFrame['Age'].mean()), inplace=True)

In [9]:
dataFrame['Height'].fillna(int(dataFrame['Height'].mean()), inplace=True)

In [10]:
dataFrame.isnull().sum()

LungCap      0
Age          0
Height       0
Smoke        0
Gender       2
Caesarean    1
dtype: int64

In [ ]:
#Converting categorial data(Gender, Caesarean, Smoke) to numerical

In [11]:
dataFrame['Gender'] = dataFrame['Gender'].map({'male': 0, 'female': 1})

In [13]:
dataFrame['Caesarean'] = dataFrame['Caesarean'].map({'no': 0, 'yes': 1})

In [14]:
dataFrame['Smoke'] = dataFrame['Smoke'].map({'no': 0, 'yes': 1})

In [15]:
#to view as a table with updated values
dataFrame.head()

   LungCap   Age  Height  Smoke  Gender  Caesarean
0    6.475   6.0    62.1      0     0.0        0.0
1   10.125  18.0    74.7      1     1.0        0.0
2    9.550  16.0    69.7      0     1.0        1.0
3   11.125  14.0    71.0      0     0.0        0.0
4    4.800   5.0    56.9      0     0.0        0.0

In [ ]:
#Missing values are replaced with mean

In [16]:
dataFrame['Gender'].fillna(int(dataFrame['Gender'].mean()), inplace=True)

In [17]:
dataFrame['Caesarean'].fillna(int(dataFrame['Caesarean'].mean()), inplace=True)

In [18]:
#Updated table with zero null values
dataFrame.isnull().sum()

LungCap      0
Age          0
Height       0
Smoke        0
Gender       0
Caesarean    0
dtype: int64

In [19]:
#to analyse no. of smokers and non-smokers of both gender
dataFrame.groupby('Smoke').Gender.value_counts()

Smoke  Gender
0      0.0       335
       1.0       313
1      1.0        44
       0.0        33
Name: Gender, dtype: int64

In [21]:
#to analyze no. of people undergone Caesarean of both gender
dataFrame.groupby('Caesarean').Gender.value_counts()

Caesarean  Gender
0.0        0.0       283
           1.0       278
1.0        0.0        85
           1.0        79
Name: Gender, dtype: int64

In [22]:
#extracting records from the table whose value of Lung Capacity is greater than or equal to 7(average)
df1 = dataFrame[dataFrame['LungCap']>=7]
df1.head()

   LungCap   Age  Height  Smoke  Gender  Caesarean
1   10.125  18.0    74.7      1     1.0        0.0
2    9.550  16.0    69.7      0     1.0        1.0
3   11.125  14.0    71.0      0     0.0        0.0
7    7.325  11.0    70.4      0     0.0        0.0
8    8.875  15.0    70.5      0     0.0        0.0

In [23]:
df1.head(10)

    LungCap   Age  Height  Smoke  Gender  Caesarean
1    10.125  18.0    74.7      1     1.0        0.0
2     9.550  16.0    69.7      0     1.0        1.0
3    11.125  14.0    71.0      0     0.0        0.0
7     7.325  11.0    70.4      0     0.0        0.0
8     8.875  15.0    70.5      0     0.0        0.0
10   11.500  19.0    76.4      0     0.0        1.0
11   10.925  17.0    71.7      0     0.0        0.0
14    7.825  10.0    61.2      0     0.0        0.0
15    9.525  13.0    63.5      0     0.0        1.0
16    7.875  15.0    59.2      0     0.0        0.0